.card {
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-text {
    color: #707275;
}

.text-muted {
    font-weight: bold;
}