<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <select
          class="form-control custom-select"
          [(ngModel)]="selectedIdiomas"
          >
          <option disabled selected value>
            Seleccionar idioma &blacktriangledown;
          </option>
          @for (idioma of idiomas; track idioma) {
            <option [value]="idioma">
              {{ idioma }}
            </option>
          }
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <select
          class="form-control custom-select"
          [(ngModel)]="selectedFormatos"
          >
          <option disabled selected value>
            Seleccionar formato &blacktriangledown;
          </option>
          @for (formato of formatos; track formato) {
            <option [value]="formato">
              {{ formato }}
            </option>
          }
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <select
          class="form-control custom-select"
          [(ngModel)]="selectedCategorias"
          >
          <option disabled selected value>
            Seleccionar categoría &blacktriangledown;
          </option>
          @for (categoria of categorias; track categoria) {
            <option [value]="categoria">
              {{ categoria }}
            </option>
          }
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <select
          class="form-control custom-select custom-ordenar-por"
          [(ngModel)]="selectedOrdenarPor"
          >
          <option disabled selected value="" class="custom-ordenar-por">
            Ordenar por &blacktriangledown;
          </option>
          @for (opcion of ordenarPor; track opcion) {
            <option [value]="opcion">
              {{ opcion }}
            </option>
          }
        </select>
      </div>
    </div>
  </div>
</div>
